<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tegra - Signature Generator</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel="stylesheet" href="styles.css">
    <link href="favicon.png" rel="shortcut icon">

    <script defer src="//code.getmdl.io/1.2.1/material.min.js"></script>
  </head>
  <body ng-app="email" ng-controller="MainCtrl as $ctrl">

    <div ng-cloak class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">

      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
              <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Tegra's Signature Generator</span>
              </div>

            <form action="#">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" id="name" type="text" ng-model="$ctrl.model.name">
                <label class="mdl-textfield__label" for="name">Name</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" id="cellphone" type="text" mask="(99) 99999?-9999" mask-validate="false" ng-model="$ctrl.model.cellphone">
                <label class="mdl-textfield__label" for="cellphone">Mobile Number</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" dirt-it id="email" pattern="[a-z][0-9a-z_\.-]+[a-z0-9]" type="text" ng-model="$ctrl.model.email">
                <label class="mdl-textfield__label" for="email">Email</label>
                <span class="mdl-textfield__error">Only what comes before @</span>
              </div>
            </form>

            <div ng-show="$ctrl.model.name && $ctrl.model.email" class="demo-card-wide mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Your Signature</h2>
              </div>
              <div class="mdl-card__supporting-text signature-container" id="signature-container">
                <div dir="ltr">
                  <br style="font-size:12.8px">
                  <table style="color:rgb(0,0,0);font-size:medium;font-family:'Times New Roman' sans-serif">
                    <tbody>
                      <tr>
                        <td valign="top">
                          <table style="margin-bottom: 10px;">
                            <tr>
                                <td style="width: 70px"><img width="60" height="60" avatar="{{ $ctrl.model.email }}@tegra.com.br" style="border-radius: 50%; overflow: hidden; border:3px solid white; box-shadow: 0 0 4px rgb(230, 26, 45);" src="" /></td>
                                <td style="font-family:monospace,sans-serif;font-size:10px;line-height:0;color:rgb(51,51,51);"><span style="color:rgb(230,26,45);font-size:14px;font-weight:bold"><br>{{ $ctrl.model.name }}</span>&nbsp;<br></td>
                            </tr>
                          </table>
                          <p style="font-family:monospace,sans-serif;font-size:10px;line-height:18px;color:rgb(51,51,51)">
                            <a href="mailto:{{ $ctrl.model.email }}@tegra.com.br" style="color:rgb(17,85,204)" target="_blank">{{ $ctrl.model.email }}@tegra.com.br</a>
                            <br>(15) 3359-1802 (Matriz)
                            <br>(11) 3819-1852 (Filial Pinheiros-SP)
                            <br>(11) 3280-1802 (Escritório Comercial)
                            <span ng-if="$ctrl.model.cellphone "><br>{{ $ctrl.model.cellphone }}</span>
                            <br><a href="http://www.tegra.com.br/" style="color:rgb(17,85,204)" target="_blank">http://www.tegra.com.br</a>
                            <br>
                          </p>
                          <p style="font-size:13px;line-height:18px">
                            <img src="http://assinatura.tegra.com.br/logo.png" width="96" height="42" class="CToWUd">
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect copyButton" ng-click="$ctrl.copy()">
                  Copy to clipboard
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-md5/0.1.10/angular-md5.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js" type="text/javascript"></script>
    <script src="script.js"></script>
  </body>
</html>
